body{
    margin: 0!important;
    /*background: #81bcd8;*/
    font-size:10px;
    color:#3a3c4c;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.title{
    font-family: stSong;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    font-size:1.0rem;
}
/*PCヘッダー*/
.site-header{
    width: 100%;
    /*margin-top:-100px;*/
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: #fff;
    opacity: 0.9;
    z-index: 999;
}
.site-logo{
    margin: 5px 0 0 10px!important;
}
.site-logo img{
    height: 60px;
    width: auto;
}
.gnav__menu{
    display: flex;
}
.gnav__menu__item{
    margin-left: 10px;
}
.gnav__menu__item a{
    color: #333;
    text-decoration: none;
}
.gnav__menu__item a:hover{
    color: #81bcd8;
}
ul{
    list-style: none!important; 
}
li.gnav__menu__item {
    width: 15%;
    text-align: center;
    font-size: 0.8rem;
}
/*PCヘッダーここまで*/

/*SPヘッダー*/
.site-header-sp{
    width:100%;
    margin-top: -80px;
    position: fixed;
    padding: 10px 0;
    background:#fff;
    opacity: 0.9;
}
.nav-unshown {
    display:none;
}
#nav-open {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin:7px 0 0 2px ;
    vertical-align: middle;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 2px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #000;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
    bottom: -8px;
}
#nav-open span:after {
    bottom: -16px;
}
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    padding-left: 2%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
    font-size:18px;
}
#nav-content a{
    color: #333333;
    text-decoration: none;
}
#nav-content a:hover{
    color: #81bcd8;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}
 #nav-input:checked ~ #nav-content {
     -webkit-transform: translateX(0%);
     transform: translateX(0%);/*中身を表示（右へスライド）*/
     box-shadow: 6px 0 25px rgba(0,0,0,.15);
} 
/*SPヘッダーここまで*/
/*スライダー*/
.swiper-container {
  margin: 0 auto!important;
  width:100%;
}
.swiper-wrapper img{
  width:100%;
}
.swiper-container {
  margin: 0 auto!important;
  width:100%;
}
.swiper-container.swiper-container-horizontal {
    margin-top: 100px!important;
    z-index: -1;
}
/*スライダーここまで*/
/*メッセージ*/
.message{
    margin-bottom: 50px;
    padding:10px 0 20px 0;
    background-image: url("./image/worldmap.png");
}
.message__content{
}
.message__content__box{
    padding:10px 10px;
}
.message__content__box--txt{
    margin: 0 auto;
    color: #1b2249;
    
}
/*メッセージここまで*/
/*ニュース*/
.news{
    border-top:3px solid #333333;
    border-bottom: 1px solid #333333;
    background:#f8f8f8;
}
.news__content{
    margin: 2px 0;
    padding:10px 0 20px 0;
    border-top:1px solid #333333;
    border-bottom: 3px solid #333333;    
}
.news--title{
    margin-bottom: 20px;
    text-align: center;
}
.news--txt{
    width: 80%;
    margin: 0 auto;
    text-align: left!important;
}
/*ニュースここまで*/
/*wce*/
.wce{
    /*background-image: url("./image/back.png");*/
    margin-top: 1px!important;
}
.wce__content{
    padding: 10px 0;
}
.wce--title{
    margin-bottom:20px;
    text-align: center;
}
.wce--txt{
    width: 80%;
    margin: 0 auto;
}
/*wceここまで*/
/*コンペティション*/
.competition{
    /*margin:40px 0 0 0!important;*/
}
.competition__content{
    padding: 0 0 40px 0;
}
.competition--title{
    margin-bottom:30px;
}
.competiton--image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
}
.competiton--image img{
    width:90%;
    margin-bottom: 20px;
    border:1px solid #333333;
}
/*コンペティションここまで*/
/*ダンスイクイップメント*/
.danceE--title{
    margin:-20px 0 30px 0;
}
.danceE--txt{
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    height: 200px;
    width: 100%;
    margin: 0 auto;
    background-image: url("./image/danceimage.png");
    background-size: 100%;
}
.danceE--txt p{
    margin: 0 15%;
    color: #fff;
}
/*ダンスイクイップメントここまで*/
/*ダンススクールイントロダクション*/
.danceSI--title{
    margin: 40px 0 30px 0;
}
.danceSI__content__box{
    width:90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-between;
    align-items: center;
}
/*ダンススクールイントロダクションここまで*/
/*スタジオ*/
.sebs--title{
    margin: 40px 0 40px 0!important;
}
.sebs--url{
    color:#666666;
    text-align: right;
}
/*スタジオここまで*/
/*フッター*/
.footer{
    margin:40px 0 0 0;
    padding:0 0 20px 0;
    background-image: url("./image/footerimage.png");
    color:#F7F6EB;
}
.footer--title{
    padding: 10px 0 10px 0;
}
.footer__content__info{
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__content__info--txt{
    width: 60%;
}
/*フッターここまで*/
.fadein {
    opacity : 0.1;
    transform : translate(0, 50px);
    transition : all 500ms;
}
/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
/*メディアクエリタブレット以下*/
@media screen and (max-width:959px) {
    .site-header{
        display: none;
    }
    .site-header-sp{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
        width:20%;
    }
    .site-logo img{
        height: auto;
        width: 50%;
    }
    .mainimage{
        margin-top:100px;
    }
    .message{
        background-image: url("./image/worldmap_sp.png") no-repeat;
        background-size: cover;
        margin-bottom: 0;
    }
}
/*メディアクエリタブレット以上*/
@media screen and (min-width:960px) {
    body{
        font-size: 24px;
    }
    .title{
        font-size:1.6rem;
    }
    .site-header-sp{
        display: none;
    }
    .message{
        margin-bottom: 0;
        padding-bottom:120px;
    }
    .message__content__box{
        width: 60%;
        margin-top:150px;
        padding:20px 20px;
        background:#fff;
    }
    .message__content__box--txt{
        font-size: 1.4rem;
    }
    .news__content{
        padding: 40px 0 60px 0;
    }
    .news--title{
        margin-bottom: 40px;
    }
    .news--txt{
        width: 40%;
    }
    .wce__content{
        padding: 40px 0 30px 0;
    }
    .wce--title{
        margin-bottom: 40px;
    }
    .wce--txt{
        width: 60%;
    }
    .competition__content{
        padding: 10px 0 60px 0;
    }
    .competition--title{
        margin-bottom: 80px;
    }    
    .competiton--image img{
        width: 23%;
    }
    .danceE--title{
        margin:0 0 60px 0;
    }
    .danceE--txt{
        height: 600px;
        width: 90%;
        margin: 0 auto;
        background-image: url("./image/danceimage.png");
        background-size: 100%;
    }
    .danceE--txt p{
        margin: 0 20%;
        color: #fff;
    }    
    .danceSI--title{
        margin: 80px 0 60px 0;
    }    
    .danceSI__content__box{
        width:70%;
    }
    .danceSI__content__box--image img{
        width: 120%!important;
    }
    .sebs--title{
        margin: 80px 0 60px 0!important;
    }
    
    .sebs__content__box{
        width: 80%;
        margin: 0 auto;
    }
    .sebs--url{
        font-size: 0.8rem;
    }
    .footer--title{
        padding: 20px 0 40px 0;
    }
}
